<div class="row">

    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Center List</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-secondary opacity-7">#</th>
                  <th class="text-secondary opacity-7">Child Id</th>
                  <th class="text-secondary opacity-7">Child Name</th>
                  <th class="text-secondary opacity-7">Vaccine Name</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                <tr (click)="fillData(item)" *ngFor=" let item of service.reservationsList">
                  <td class="text-secondary opacity-7">{{ item.id }}</td>
                  <td class="text-secondary opacity-7">{{ item.childId }}</td>
                  <td class="text-secondary opacity-7">{{ item.childName }}</td>
                  <td class="text-secondary opacity-7">{{ item.vaccineId }}</td>
                  <td><button type="button" class="btn btn-info mt-3" style="width: 100px;height: 40px;" (click)="conform(item)">Confirm</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>