<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <h6 class="text-white text-capitalize ps-3">Child List</h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-secondary opacity-7">ID</th>
                <th class="text-secondary opacity-7">First Name</th>
                <th class="text-secondary opacity-7">Date of Birth</th>
                <th class="text-secondary opacity-7">Vaccine Status</th>
                <th class="text-secondary opacity-7"></th>
                <th class="text-secondary opacity-7"></th>
              </tr>
            </thead>
            <tbody>
              <tr (click)="fillData(item)" *ngFor=" let item of service.childs">
                <td>{{ item.id }}</td>
                <td>{{ item.firstName }}</td>
                <td>{{ item.birthDate }}</td>
                <td *ngIf="item.vaccineStatus" class="align-middle text-center text-sm">
                  <span style="margin-left:-120px;" class="badge badge-sm bg-gradient-success">completed</span>
                </td>
                <td *ngIf="!item.vaccineStatus" class="align-middle text-center text-sm">
                  <span style="margin-left:-120px;" class="badge badge-sm bg-gradient-secondary">Waiting Next
                    Vaccine</span>
                </td>
                <td>
                  <p (click)="details(item.id)" style="cursor: pointer; margin-top: 10px;">Details</p>
                </td>
                <td *ngIf="item.vaccineStatus">
                  <p (click)="reservation(item.id)" style="cursor: pointer; margin-top: 10px;"> Reservation</p>
                </td>
                <td *ngIf="!item.vaccineStatus">
                  <p (click)="reservation(item.id)" style="cursor: pointer; margin-top: 10px;"> Reservation</p>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>