<div class="row">

    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Center List</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-secondary opacity-7">ID</th>
                  <th class="text-secondary opacity-7">Name</th>
                  <th class="text-secondary opacity-7">Goverment</th>
                  <th class="text-secondary opacity-7"></th>
                  <th class="text-secondary opacity-7"></th>
                  <th class="text-secondary opacity-7"></th>


                </tr>
              </thead>
              <tbody>
                <tr (click)="fillData(item)" *ngFor="let item of service.centers">
                  <td>{{ item.id }}</td>
                  <td>{{ item.healthCenterName }}</td>
                  <td>{{ item.goverment }}</td>
                  <td><button (click)="deleteCenter(item.id)" type="button" class="btn btn-danger mt-3" style="width: 100px;height: 40px;">Delete</button></td>
                  <td><button type="button" class="btn btn-info mt-3" style="width: 100px;height: 40px;">Edit</button></td>
                  <td><button (click)="showAddDate(item.id)" routerLink="../addDateCapacity" type="button" class="btn btn-info mt-3" style="width: 100px;height: 40px;">Add Date</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>