<section class="wrapper">
  <!-- Row title -->
  <main class="row title">
    <ul>
      <li></li>
    </ul>
  </main>
  <!-- Row 1 - fadeIn -->
  <section class="row-fadeIn-wrapper">
    <article class="row nfl">
      <ul>
        <li><a href="#">{{t1}}</a></li>
      </ul>
      <ul class="more-content">
        <li>{{box0}}<br>{{box1}}<br><br>{{box11}}<br><br>{{box111}}</li>
      </ul>
    </article>
  </section>
  <!-- Row 2 - fadeOut -->
  <section class="row-fadeIn-wrapper">
    <article class="row nfl">
      <ul>
        <li><a href="#">{{t2}}</a></li>

      </ul>
      <ul class="more-content">
        <li>{{box2}} <br><br> {{box22}}</li>
      </ul>
    </article>
  </section>
  <!-- Row 3 -->
  <section class="row-fadeIn-wrapper">
    <article class="row nfl">
      <ul>
        <li><a href="#">{{t3}}</a></li>
      </ul>
      <ul class="more-content">
        <li>{{box3}} <br><br> {{box33}}</li>
      </ul>
    </article>
  </section>
  <!-- Row 4 -->
  <section class="row-fadeIn-wrapper">
    <article class="row nfl">
      <ul>
        <li><a href="#">{{t4}}</a></li>

      </ul>
      <ul class="more-content">
        <li>{{box4}} <br><br> {{box44}}</li>
      </ul>
    </article>
  </section>
  <!-- Row 5 -->
  <section class="row-fadeIn-wrapper">
    <article class="row nfl">
      <ul>
        <li><a href="#">{{t5}}</a></li>
      </ul>
      <ul class="more-content">
        <li>{{box5}} <br><br> {{box55}}</li>
      </ul>
    </article>
  </section>
</section>

<br>
<a class="btn btn-blue" (click)="opensweetalertCall()"> Call Support <span
    class="material-icons md-1">phone_in_talk</span></a>

<a href="mailto:201910041@ammanu.edu.jo" class="btn btn-blue" target="_blank"> Email Us <span
    class="material-icons md-1">mail_outline</span></a>


<script src="sweetalert2.all.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>