<div class="row">

  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <h6 class="text-white text-capitalize ps-3">Parent List</h6>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-secondary opacity-7">ID</th>
                <th class="text-secondary opacity-7">Name</th>
                <th class="text-secondary opacity-7">Email</th>
                <th class="text-secondary opacity-7">Family Book Number</th>
                <th class="text-secondary opacity-7">Goverment</th>

              </tr>
            </thead>
            <tbody>
              <tr (click)="fillData(item)" *ngFor="let item of service.parents">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.familyBookNumber }}</td>
                <td>{{ item.goverment }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>