
<!-- Spinner -->
<div *ngIf="showSpinner"class="d-flex justify-content-center" style=" height: 100%;width: 100%; background-color: rgb(50, 54, 66);" >
  <div style="margin-top: 150px; width: 200px;">
    <img src="../../../assets/img/Jordanian Ministry Of Health.png" style="width: 200px;height: 200px;" >
  <mat-spinner style="width: 75px; margin: 50px;" color="warn"></mat-spinner>
  </div>
</div>



<main class="main-content border-radius-lg ">
  <!-- navbar -->
  <app-navbar ></app-navbar>
  <div class="row m-0 p-0">
    <!-- aside -->
    <div class="col-2" *ngIf="!showSpinner">
      <app-aside-parent *ngIf="parent"></app-aside-parent>
      <app-aside-admin *ngIf="admin"></app-aside-admin>
      <app-aside-health-center *ngIf="health"></app-aside-health-center>
    </div>
    <div class="col-10">
      <div  id="container">
        <!-- Work Area -->
        <router-outlet></router-outlet>      
      </div>
    </div>
  
  </div>
  <div class="container-fluid py-4">
    <!-- footer -->
    <footer class="footer py-4">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="copyright text-center text-sm text-muted text-lg-start">
              ©
              <script>
                document.write(new Date().getFullYear())
              </script>
              Jordanian Ministry Of Health
            </div>
          </div>
          <div class="col-lg-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</main>